h1{ 
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    background-color: rgb(255, 171, 162);
 }
 h2{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align:center;
    background-color: rgb(255, 184, 176);
 }
 h3{
   font-family: "Josefin Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 30px;
   text-align:center;
   background-color: rgb(255, 199, 191);
 }
 body{
    background-color: mistyrose;
 }